/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Top Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #000000, #000000);
    padding: 10px 20px;
    color: white;
}

.navbar img {
    width: 80px;
    /* Adjust this value to match the desired logo size */
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    width: 55%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.auth-buttons a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #100000;
    border-radius: 5px;
}

.auth-buttons a:hover {
    background-color: #000000;
}

/* Second Navbar */
.category-navbar {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 10px 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.category-navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
}

.category-navbar a:hover {
    background-color: #666;
    border-radius: 5px;
}


.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    border: 10px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.section-title{
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="url"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"] {
    margin-bottom: 20px;
}

.image-preview {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #000;
    margin-bottom: 20px;
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1b1b1b;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:darkgreen

}

.section-title {
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
